<section id="cv">
    <div class="container">
        <h2><strong>Curriculum Vitae</strong></h2>
        <span class="bar-title mb-5"></span>
        <div class="row">

          <div class="col-lg-8 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <h4><strong>Experiences</strong></h4>
            <ul class="timeline">
                <li>
                    <h5>Vice President</h5>
                    <em>Barclays Partner Finance, <strong>Barclays</strong></em>
                    <div class="d-flex flex-row">
                        <p class="year p-2 d-flex justify-content-center">October 2021 - Till date</p>
                        <button (click)="detailOnClick('freelanceScotfy_detail')" type="button" class="btn btn-primary">+
                            Detail</button>
                    </div>
                    <p *ngIf="freelanceScotfyIsShown">

                        <strong>Responsibility 1:</strong> Mise en place d'un gestionnaire de thèmes (couleurs, logo). <br>
                        <strong>Responsibility 2:</strong> Mise en place d'un gestionnaire de dossiers virtuels qui peuvent contenir des apps Qlik Sense.<br>
                        <strong>Responsibility 3:</strong> Développement d'une interface de sauvegarde des ressources.<br>
                        <strong>Responsibility 4:</strong> Création de pages web personnalisables : Qlik Sense Mashups (En cours).<br>
                        <strong>Technologies:</strong> Java, J2EE, Angular 11, Angular Materials, pgSql, Qlik Sense
                    </p>
                </li>
                <li>
                    <h5>Assistant Vice President</h5>
                    <em>Treasury, <strong>Barclays</strong></em>
                    <div class="d-flex flex-row">
                        <p class="year p-2 d-flex justify-content-center">June 2017-Sep 2021</p>
                        <button (click)="detailOnClick('freelance_detail')" type="button" class="btn btn-primary">+
                            Detail</button>
                    </div>
                    <p *ngIf="freelanceIsShown">
                        <strong>Responsibility 1:</strong> Développement d'une application de notation de fournisseurs par les acheteurs.<br>
                        <strong>Responsibility 2:</strong> Maintenance évolutive et corrective d'applications.<br>
                        <strong>Technologies:</strong> JAVA 8, Spring, Angular 8, Angular Materials, MySql
                    </p>
                </li>
                <li>
                    <h5>Analyst</h5>
                    <em>Treasury, <strong>Barclays</strong></em>
                    <div class="d-flex flex-row">
                        <p class="year p-2 d-flex justify-content-center">Nov 2014- May2017</p>
                        <button (click)="detailOnClick('alternance_detail')" type="button" class="btn btn-primary">+
                            Detail</button>
                    </div>
                    <p *ngIf="alternanceIsShown">
                        <strong>Responsibility 1:</strong> Application de gestion des camions entrant sur le site<br>
                        <strong>Responsibility 2:</strong> Amélioration d'une application de création de plans de préventions.<br>
                        <strong>Responsibility 3:</strong> Application de mise en forme des commandes du verre, dans l’intérêt d'une
                        meilleure lisibilité des priorités pour les équipes de production. <br>
                        <strong>Technologies:</strong>  JAVA 8, Spring, Angular 8, Angular Materials, MySql
                    </p>
                </li>
                <li>
                  <h5>Tech Lead</h5>
                  <em>AKG microphones, <strong>Harman</strong></em>
                  <div class="d-flex flex-row">
                      <p class="year p-2 d-flex justify-content-center">May 2011- Oct 2014</p>
                      <button (click)="detailOnClick('alternance_detail')" type="button" class="btn btn-primary">+
                          Detail</button>
                  </div>
                  <p *ngIf="alternanceIsShown">
                      <strong>Responsibility 1:</strong> Application de gestion des camions entrant sur le site<br>
                      <strong>Responsibility 2:</strong> Amélioration d'une application de création de plans de préventions.<br>
                      <strong>Responsibility 3:</strong> Application de mise en forme des commandes du verre, dans l’intérêt d'une
                      meilleure lisibilité des priorités pour les équipes de production. <br>
                      <strong>Technologies:</strong>  JAVA 8, Spring, Angular 8, Angular Materials, MySql
                  </p>
              </li>
              <li>
                <h5>Software Developer</h5>
                <em>Software House, <strong>Tyco</strong></em>
                <div class="d-flex flex-row">
                    <p class="year p-2 d-flex justify-content-center">Aug 2009- May 2011</p>
                    <button (click)="detailOnClick('alternance_detail')" type="button" class="btn btn-primary">+
                        Detail</button>
                </div>
                <p *ngIf="alternanceIsShown">
                    <strong>Responsibility 1:</strong> Application de gestion des camions entrant sur le site<br>
                    <strong>Responsibility 2:</strong> Amélioration d'une application de création de plans de préventions.<br>
                    <strong>Responsibility 3:</strong> Application de mise en forme des commandes du verre, dans l’intérêt d'une
                    meilleure lisibilité des priorités pour les équipes de production. <br>
                    <strong>Technologies:</strong>  JAVA 8, Spring, Angular 8, Angular Materials, MySql
                </p>
            </li>
            <li>
              <h5>Software Developer</h5>
              <em><strong>SIEMENS</strong></em>
              <div class="d-flex flex-row">
                  <p class="year p-2 d-flex justify-content-center">Aug 2008- July 2009</p>
                  <button (click)="detailOnClick('alternance_detail')" type="button" class="btn btn-primary">+
                      Detail</button>
              </div>
              <p *ngIf="alternanceIsShown">
                  <strong>Responsibility 1:</strong> Application de gestion des camions entrant sur le site<br>
                  <strong>Responsibility 2:</strong> Amélioration d'une application de création de plans de préventions.<br>
                  <strong>Responsibility 3:</strong> Application de mise en forme des commandes du verre, dans l’intérêt d'une
                  meilleure lisibilité des priorités pour les équipes de production. <br>
                  <strong>Technologies:</strong>  JAVA 8, Spring, Angular 8, Angular Materials, MySql
              </p>
          </li>

            </ul>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
                <h4><strong>Recent Awards</strong></h4>

                <ul class="timeline">
                    <li>
                        <h5>Barclays Values (Excellence) award </h5>
                        <em class="font-italic"> For Technical  Excellence</em>
                        <p class="year p-2 d-flex justify-content-center">2021</p>
                    </li>
                    <li>
                        <h5> Barclays Values (Service) award </h5>
                        <em class="font-italic">For Business Onboarding</em>
                        <p class="year p-2 d-flex justify-content-center">2020</p>
                    </li>

                </ul>
          </div>
      <div class="col-lg-6 col-md-6" data-aos="fade-up" data-aos-delay="300">
        <h4><strong>Certification</strong></h4>

        <ul class="timeline">
            <li>
                <h5> AWS–Developer Associate  </h5>
                <em class="font-italic"> Amazon Web Service<br> </em>
                <p class="year p-2 d-flex justify-content-center">April-2021</p>
                <!-- https://www.credly.com/earner/earned/badge/d856c754-7e67-4f97-b09b-e998b334070b -->
            </li>
            <li>
                <h5> AWS–Solutions Architect Associate  </h5>
                <em class="font-italic">Amazon Web Service <br> </em>
                <p class="year p-2 d-flex justify-content-center">November-2019</p>
                <!-- https://www.credly.com/earner/earned/badge/d856c754-7e67-4f97-b09b-e998b334070b -->
            </li>
            <li>
              <h5> Certified Disciplined Agilest  </h5>
              <em class="font-italic">Project management institute <br> </em>
              <!-- https://www.linkedin.com/feed/update/urn:li:activity:6789458177294442496/ -->
              <p class="year p-2 d-flex justify-content-center">March-2016</p>
          </li>

        </ul>
    </div>
    <div class="col-lg-6 col-md-6" data-aos="fade-up" data-aos-delay="300">
      <h4><strong>Education</strong></h4>

      <ul class="timeline">
          <li>
              <h5><strong>P.G. Diploma </strong> </h5>
              <em class="font-italic"> Advance computing<br> CDAC-ACTS, Bangalore</em>
              <p class="year p-2 d-flex justify-content-center">2008 - 2008</p>
          </li>
          <li>
              <h5> Bachelor of Engineering </h5>
              <em class="font-italic">Electronics & Communication with Honors <br> University of Rajasthan, India</em>
              <p class="year p-2 d-flex justify-content-center">2001 - 2005</p>
          </li>

      </ul>
</div>


        </div>
    </div>
</section>
