<section id="references">
    <div class="container  mb-5" >
        <h2><strong>Recommandations</strong></h2>
        <span class="bar-title mb-5"></span>
        <div class="card shadow-lg  rounded pb-3" data-aos="fade-right" data-aos-delay="300">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="not-active active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1" class="not-active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2" class="not-active"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="d-block w-100">
                            <div class="row">
                                <div class="col-lg-2 ml-4 mr-4 col-sm-12">
                                    <div class="row">
                                        <div class="mt-4">
                                          <a class="btn-social-media" href="https://www.linkedin.com/in/KamlendraSharma/" rel="tooltip" target="_blank"
                                          title="Follow me on Linkedin">
                                          <i class="fa fa-linkedin fa-lg "></i>
                                        </a>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="mt-3">
                                            <h5>Umme Zakira</h5>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="mt-2 ">
                                            <h5><small> </small></h5>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="mt-2 ">
                                            <span class="text-uppercase"><strong> </strong></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body ml-4 mr-3 mt-4 col-lg-9 col-sm-12">
                                    <div class="row">
                                        <span>Kamlendra and I worked together for almost one year quite closely. He was the first person I recruited and was the best choice. His sincerity, diligence, willingness to learn new things and execute with meticulousness has always impressed me.

                                          He has the ability and willingness to work hard to gather and process a lot of information and deliver what is required. The other remarkable aspects of Kamlendra's personality are his friendly nature, openness to ideas and positive energy. It was a pleasure to work with him every day in spite of the stressful work environment.

                                          I wish him all the best for future endeavors!</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="d-block w-100">
                            <div class="row">
                                <div class="col-lg-2 ml-4 mr-4 col-sm-12">
                                    <div class="row">
                                        <div class="mt-4">
                                          <a class="btn-social-media" href="https://www.linkedin.com/in/KamlendraSharma/" rel="tooltip" target="_blank"
                                          title="Follow me on Linkedin">
                                          <i class="fa fa-linkedin fa-lg "></i>
                                        </a>  </div>
                                    </div>
                                    <div class="row">
                                        <div class="mt-3">
                                            <h5>Ashish Aggarwal</h5>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="mt-2 ">
                                            <h5><small> </small></h5>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="mt-2 ">
                                            <span class="text-uppercase"><strong> </strong></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body ml-4 mr-3 mt-4 col-lg-9 col-sm-12">
                                    <div class="row">
                                        <span>working with Kamlendra is a very enriching experience beacuse of his

                                          a) ability to go beyond technology and focus on end to end delivery including data, architecture, technology and development, testing, automation and maintainability

                                          b) ability to maintain good coordination with entire team yet act as single point of contact for stakeholders

                                          c) ability to give honest and constructive feedback resulting in brainstorming / discussions resulting in better outcomes.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="d-block w-100">
                            <div class="row">
                                <div class="col-lg-2 ml-4 mr-4 col-sm-12">
                                    <div class="row">
                                        <div class="mt-4">
                                          <a class="btn-social-media" href="https://www.linkedin.com/in/KamlendraSharma/" rel="tooltip" target="_blank"
                                          title="Follow me on Linkedin">
                                          <i class="fa fa-linkedin fa-lg "></i>
                                        </a>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="mt-3">
                                            <h5>Gupteshwar Chand</h5>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="mt-2 ">

                                            <h5><small> </small></h5>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="mt-2 ">
                                            <span class="text-uppercase"><strong> </strong></span>
                                        </div>
                                    </div>

                                </div>
                                <div class="card-body ml-4 mr-3 mt-4 col-lg-9 col-sm-12">
                                    <div class="row">
                                        <span>I know Kamlendra right from the time when I started at Barclays. Infact he was the guy who did one of my interviews and the positivity started flowing right from that time. He is professional, team player and dedicated. I have seen him transitioning in different roles at Barclays from a developer to devops and cloud architect. He has proved his merit in every role by delivering the project deliverables.The way he keeps himself abreast with latest trends in the market is one thing I admire the most. I wish him all the best for his future.</span>
                                      </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
