<section id="about">
  <div class="container">
    <h2><strong>Overview</strong></h2>
    <span class="bar-title mb-5"></span>
    <div class="row">
      <div class="col-lg-4 col-md-12" data-aos="fade-right">

        <picture>
          <img src="assets/images/profile.jpg" alt="profile picture" class="img-fluid">
        </picture>
        <div class="d-flex justify-content-center">
          <a class="btn-social-media" href="https://www.linkedin.com/in/KamlendraSharma/" rel="tooltip" target="_blank"
            title="Follow me on Linkedin">
            <i class="fa fa-linkedin fa-lg "></i>
          </a>
          <a class="btn-social-media btn-default btn-round btn-lg btn-icon" href="https://github.com/kamlendra"
            rel="tooltip" target="_blank" title="Follow me on GitHub">
            <i class="fa fa-github fa-lg "></i></a>
          <a class="btn-social-media btn-default btn-round btn-lg btn-icon" href="https://stackoverflow.com/users/story/987222"
            rel="tooltip" target="_blank" title="Follow me on Satckoveflow">
            <i class="fa fa-github fa-lg "></i></a>
          <a class="btn-social-media btn-default btn-round btn-lg btn-icon" href="https://kamlendra-sharma.medium.com/"
            rel="tooltip" target="_blank" title="Follow me on Medium">
            <i class="fa fa-github fa-lg "></i></a>
        </div>


      </div>
      <div class="col-lg-8  col-md-12 pt-4 pt-lg-0" data-aos="fade-left">
        <h3>Application and cloud developer</h3>
        <p class="font-italic">
          •	Quality-focused Principal Consultant with 13.5 yrs of software industry experience, extensive experience in banking domain ranging from Treasury, Liquidity, Asset & Liability Management and IRRBB. Total work experience of 15.3yrs.
        </p>
        <p class="font-italic">
          • Passionate about Product Development and has consistently been innovative in translating business requirements into technology solutions, implementing processes,
          leading with self-initiative examples.
          •	Worked on AWS Solution Design, Cost Optimization, Security solutions for financial domain, legacy apps migration initially and later refactoring them to microservices architecture leveraging latest technology to add business value.
          •	Have a proven track record of delivering products with globally distributed engineering teams in a highly controlled environment. Won Several awards for the ability to streamline, enhance & automate existing software delivery
          <br>Passionate about development Back-End and Front-End.
        </p>
        <div class="row">
          <div class="col-lg-8 col-md-6">
            <ul>
              <li>
                <fa-icon [icon]="mapMarker"></fa-icon><strong> Pune, INDIA</strong>
              </li>

              <li>
                <fa-icon [icon]="email"></fa-icon><strong><a href="mailto:kamlendra.sharma@gmail.com">
                    kamlendra.sharma@gmail.com</a></strong>
              </li>

              <li>
                <fa-icon [icon]="badge"></fa-icon><strong>P.G. Diploma in Advance computing, CDAC-ACTS</strong>
              </li>
              <!-- <li>
                <fa-icon [icon]="badge"></fa-icon><strong>Bachelor of Engineering, University of Rajasthan</strong>
              </li> -->
            </ul>
          </div>

        </div>
        <!-- <p>
          Always looking for opportunities in Cloud Application dvelopement in Finance domain.
        </p> -->
      </div>
    </div>
  </div>
</section>
