<section id="portfolio">
    <div class="container" >
        <h2><strong>Portfolio</strong></h2>
        <span class="bar-title mb-5"></span>
        <div class="row">

            <!-- <div class="col-lg-6 col-sm-12 " data-aos="flip-up">
                <div class="card shadow-lg p-3 mb-5 bg-white rounded">
                    <div  class="card-header d-flex flex-column " style="height: 300px;width: 100%; "  >
                        <div id="teamTraveler-img" class="img-wrap" style="height: 300px;width: 100%;  " [ngStyle]="{backgroundImage:'url(assets/images/voyages.webp)'}" >
                        </div>
                        <div id="teamTraveler-link" class="links mt-auto d-flex justify-content-center">
                            <a href="assets/images/voyages.webp" data-gall="teamTravelerGallery" class="venobox vbox-item" title="Mes Voyages"><i class="bx bx-zoom-in bx-md"></i></a>
                            <a href="assets/images/voyage.webp" data-gall="teamTravelerGallery" class="venobox vbox-item" title="Détail du voyage"></a>
                            <a href="assets/images/logements.webp" data-gall="teamTravelerGallery" class="venobox vbox-item" title="Mes Logements"></a>
                            <a href="https://play.google.com/store/apps/details?id=team.traveler.teamtraveler" title="Télécharger sur Google Play" target="_BLANK"><i class="bx bx-link bx-md"></i></a>
                        </div>
                    </div>

                    <div class="card-body">
                            <h3 class="card-title">Team Traveler</h3>
                            <h5 class="card-title"><strong>Technologies:</strong>  </h5>
                            <p class="card-text">Android Studio, Java, FireBase, MVP, NoSql</p>
                            <div class="d-flex flex-row justify-content-center">
                                <a href="https://github.com/zinedineBenkhider/team_traveler" target="_blank" target="_blank" type="button" class="btn btn-primary mr-3">Code Source</a>
                                <button (click)="detailOnClick('teamTraveler')" type="button" class="btn btn-primary">+ Détail projet</button>
                            </div>
                            <div *ngIf="teamTravelerIsShown" class="mt-3">
                                <p>L'application vous permettra d'organiser des voyage en groupe facilement et rapidement. Votez pour les dates, les transports, hébergement ou même les activités.
                                Grâce à cette <a title="Télécharger sur Google Play" href="https://play.google.com/store/apps/details?id=team.traveler.teamtraveler">application</a>  plus de problème de choix ou désaccords.</p>
                            </div>
                    </div>
                </div>
            </div> -->
            <div class="col-lg-6 col-sm-12"  data-aos="flip-up">
                <div class="card shadow-lg p-3 mb-5 bg-white rounded">

                    <div  class="card-header d-flex flex-column " style="height: 300px;width: 100%; "  >
                        <div  id="mautic-img" class="img-wrap" style="height: 300px;width: 100%;  " [ngStyle]="{backgroundImage:'url(assets/images/qrm.jpg)'}" >

                        </div>
                        <div id="mautic-link" class="links mt-auto d-flex justify-content-center">
                            <a href="assets/images/qrm.jpg" data-gall="MauticGallery" class="venobox vbox-item" title="details"><i class="bx bx-zoom-in bx-md"></i></a>
                            <a href="assets/images/qrm.jpg" data-gall="MauticGallery" class="venobox vbox-item" title="details"></a>

                            <!-- <a href="#portfolio" title="En cours" target="_BLANK"><i class="bx bx-link bx-md"></i></a> -->
                        </div>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">Barclays - Treasury</h3>
                        <h5 class="card-title"><strong>Technologies:</strong>  </h5>
                        <p class="card-text"> C#.net microservices, Docker, AWS Cloud Services, Lambda, RDS, EC2, RDS, Secrets manager, Cloud watch,Terraform, Chef, Teamcity, SQL RDS, Postgres RDS</p>
                        <div class="d-flex flex-row justify-content-center">
                            <a href="https://www.qrm.com/" target="_blank" type="button" class="btn btn-primary mr-3">Code Source</a>
                            <button (click)="detailOnClick('mauticMonitoring')"  type="button" class="btn btn-primary">+ Project details</button>
                        </div>
                        <div *ngIf="mauticMonitoringIsShown" class="mt-3">
                            <p>•	AWS cli | Terraform .12 | Chef | AWS secret Manager | EC2 | RDS | Lambda | Nexus | Jenkins | KMS | AWS Security groups | AWS SDK
                              •	developed self-service way Environment as a Service to provision Cloud sandboxes for Dev, Uat, & PROD empowering financial modelers (user) to build on-demand.
                              •	Develop serverless functions for features like data reconciliation using C#, SNS, SQS, and AWS Lambda. Build and maintained one-click CI/CD pipeline.
                              •	Migrated two projects to AWS, and did database migration from SQL to postgreas db.
                              • Optimized TeamCity builds time from 2hr to 20min with existing shared server estate, which improved the productivity of the team.Written white paper for best practices of Automated deployment resulting in One-click deployment process for the treasury.
                              •	Developed C# microservices to calculate transfer pricing of cash flow using Asp.net, & RESTAPI with BDD & ATDD (cucumber) approach with 95% test coverage for business-critical applications to post Journals in SAP system.
                              •	Developed Angular application to automate the manual task which user can use self-service.
                              •	Optimized TeamCity builds time from 2hr to 20min with existing shared server estate, which improved the productivity of the team.
                              •	Developed Angular application to automate the manual task which user can use self-service.
                              </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12"  data-aos="flip-up">
              <div class="card shadow-lg p-3  bg-white rounded">

                  <div  class="header d-flex flex-column " style="height: 300px;width: 100%; "  >
                      <div id="portfolio-img" class="img-wrap card-header" style="height: 300px;width: 100%;" [ngStyle]="{backgroundImage:'url(assets/images/HARMANlab.jpg)'}" >
                      </div>
                      <div id="portfolio-link" class="links d-flex justify-content-center" >
                          <a href="assets/images/HARMANlab.jpg" data-gall="portfolioGallery" class="venobox vbox-item" title="Portfolio"><i class="bx bx-zoom-in bx-md"></i></a>
                          <!-- <a href="assets/images/Tyco_ACVS.jpg" data-gall="portfolioGallery" class="venobox vbox-item" title="Portfolio"></a> -->
                          <a href="https://www.akg.com/Wireless" title="Article" target="_BLANK"><i class="bx bx-link bx-md"></i></a>

                      </div>
                  </div>
                  <div class="card-body">
                      <h3 class="card-title">HARMAN- AKG Wireless microphones</h3>
                      <h5 class="card-title"><strong>Technologies:</strong>  </h5>
                      <p class="card-text">C#. Net4.5 VS 2010, Json, SQL Server 2012, postgres, WCF, WPF, Teamcity, CI/CD</p>

                      <div class="d-flex flex-row justify-content-center">
                          <a href="https://www.akg.com/Wireless" target="_blank" type="button" class="btn btn-primary mr-3">Public Link</a>
                          <button (click)="detailOnClick('portfolio')"  type="button" class="btn btn-primary">+ Project details</button>
                      </div>

                      <div *ngIf="portfolioIsShown" class="mt-3">
                          <p>•Galaxy is an intrusion panel that handles various activities like arming/disarming, synchronizing the panel, triggering manual and automatic actions, alarms and events and show them in central monitoring applications.
                            •	Record, measure and remediate the tech debt, implemented best practices for software development.
                            •	Written C#.Net driver and the WPF application to connect and control the galaxy panel and Downloading hardware configuration into the C-Cure9000 administrative station
                            </p>
                      </div>
                  </div>
              </div>
          </div>
            <div class="col-lg-6 col-sm-12"  data-aos="flip-up">
                <div class="card shadow-lg p-3 mb-5 bg-white rounded">

                    <div  class="header d-flex flex-column " style="height: 300px;width: 100%; "  >
                        <div id="portfolio-img" class="img-wrap card-header" style="height: 300px;width: 100%;" [ngStyle]="{backgroundImage:'url(assets/images/Tyco_lab.jpg)'}" >
                        </div>
                        <div id="portfolio-link" class="links d-flex justify-content-center" >
                            <a href="assets/images/Tyco_lab.jpg" data-gall="portfolioGallery" class="venobox vbox-item" title="Portfolio"><i class="bx bx-zoom-in bx-md"></i></a>
                            <a href="assets/images/Tyco_ACVS.jpg" data-gall="portfolioGallery" class="venobox vbox-item" title="Portfolio"></a>
                            <a href="https://www.swhouse.com/Products/Honeywell_Galaxy_Dimension_Integration.aspx" title="Article" target="_BLANK"><i class="bx bx-link bx-md"></i></a>

                        </div>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">Software House CCURE-Honeywell Galaxy Intrusion Panel</h3>
                        <h5 class="card-title"><strong>Technologies:</strong>  </h5>
                        <p class="card-text">C#. Net4.0 VS 2010, SQL Server 2008, TFS, SQL Profiler, WCF, WPF, multi-threading, Infragistics NET advantage</p>

                        <div class="d-flex flex-row justify-content-center">
                            <!-- <a href="https://www.swhouse.com/Products/Honeywell_Galaxy_Dimension_Integration.aspx" target="_blank" type="button" class="btn btn-primary mr-3">Public Link</a> -->
                            <button (click)="detailOnClick('portfolio')"  type="button" class="btn btn-primary">+ Project details</button>
                        </div>

                        <div *ngIf="portfolioIsShown" class="mt-3">
                            <p>•	Galaxy is an intrusion panel that handles various activities like arming/disarming, synchronizing the panel, triggering manual and automatic actions, alarms and events and show them in central monitoring applications.
                              •	Record, measure and remediate the tech debt, implemented best practices for software development.
                              •	Written C#.Net driver and the WPF application to connect and control the galaxy panel and Downloading hardware configuration into the C-Cure9000 administrative station
                              </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12"  data-aos="flip-up">
                <div class="card shadow-lg p-3 mb-5 bg-white rounded">

                    <div  class="header d-flex flex-column " style="height: 300px;width: 100%; "  >
                        <div id="riddle-img" class="img-wrap card-header" style="height: 300px;width: 100%;" [ngStyle]="{backgroundImage:'url(assets/images/runpex.png)'}" >
                        </div>
                        <div id="riddle-link" class="links d-flex justify-content-center" >
                            <a href="assets/images/runpex.png" data-gall="riddleGallery" class="venobox vbox-item" title="riddle"><i class="bx bx-zoom-in bx-md"></i></a>
                            <a href="https://transfer-riddle-solver.herokuapp.com/index.html" title="Lien" target="_BLANK"><i class="bx bx-link bx-md"></i></a>

                        </div>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">SIEMENS - Unit Test Automation Framework</h3>
                        <h5 class="card-title"><strong>Technologies:</strong>  </h5>
                        <p class="card-text">C#. Net3.0 VS 2008, clear case, N unit, N cover, ANTS performance & memory profiler</p>

                        <div class="d-flex flex-row justify-content-center">
                            <!-- <a href="https://github.com/zinedineBenkhider/transfer_riddle_client" target="_blank" type="button" class="btn btn-primary mr-3">Code Source</a> -->
                            <button (click)="detailOnClick('riddleIsShown')"  type="button" class="btn btn-primary">+ Project detail </button>
                        </div>

                        <div *ngIf="riddleIsShown" class="mt-3">
                            <p>
                              •	Developed a C# .NET 'Unit Test Automation framework' to generate Unit test cases for all possible paths, using the reflection to get the details of the assembly under test with low-level objects like EnvDTE80.CodeClass2, EnvDTE80.CodeFunction2 of 'Microsoft Visual Studio core automation' assembly.
                              •	Make use of equivalence and boundary value analysis techniques to generate the values for the method parameters. it analyzes the method under test, also Generates & Executes the Unit Test cases and provides the coverage report.
                              </p>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>
